

<!DOCTYPE html>
<html>
<head>
   <title>Logga in</title>
</head>

<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <h2>LOGGA IN</h2><br>
            <%= form_for :session, url: '/login' do |f| %>
               <%= f.label :xname, "x-konto: " %>
               <%= f.text_field :xname %><br>
               <%= f.label :password, "Lösenord: " %>
               <%= f.password_field :password %><br>
               
               <div class="actions"><br>
                  <%= f.submit "Logga in" %> 
               </div>
            <% end %>
         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>

</html>


