
<%= render 'shared/links' %>

<br>

<% @post_infos.each do |p| %>
	<h2> Title:  		<%= link_to p.title, post_info_path(p) %> </h2>
	<b> Publisher: </b>	<%= p.publisher %> <br>
	<b> ISSN:  </b>		<%= p.issn %> <br>
	
	<b> Operation type: </b><%= Operation.find(p.operation_id).operation_type %> <br>
	
	<b>Created by: </b> <%= p.created_by %> <br>
	<b>At:   </b>		<%= p.created_at %>  <!-- change to date -->
	<br>
	<b>Comment:  </b>	<%= p.comment %><br>
	<b>Updated by: </b> <%= p.updated_by %> <br>

	
<% end %>