

<h2>Ny användare</h2>
<br>
<%= form_for :user, url: '/users' do |f| %>
   <%= f.label :xname, "Namn: " %>
   <%= f.text_field :xname %><br>
   <%= f.label :password, "Lösenord: " %>
   <%= f.password_field :password %><br>
   <%= f.label :password_confirmation, "Bekräfta lösenord: " %>
   <%= f.password_field :password_confirmation %><br>
      

   
   <div class="actions"><br>
      <%= f.submit "Spara" %> 
   </div>

<% end %>