<%= render 'shared/links' %>


<h3>
	<%= link_to("Ny 책tg채rd", 
	{   :controller => 'operations',
		:action => 'new'}) %></h3>

Ny 책tg채rd skapades.


<h4> Operation type:  <%=  @operation.operation_type %> </h4>
	<b> Description:  </b><%= @operation.description %> <br>
	<b> Operation Id:  </b><%=  @operation.id %> <br>
	
