
<!--	For new and edit.  -->

</head>
<body>
    <div class="container-fluid"> 
      <div class="row">         
         <div class="col-md-4">
            <br><br><br>
            <% if @post_info.errors.any? %>
               <div id="error_explanation">
                  <h2>ERROR</h2>
                  <ul><br>
                     <!-- Delete error message from belongs_to in model 
                       as it's in english. -->
                     <% @post_info.errors.messages.delete(:operation) %>
                     <% @post_info.errors.messages.each  do |e_message| %>
                        <li> <%= e_message.last[0] %></li><br>
                     <% end %>
                  </ul>
               </div>
            <% end %>
         </div>
         
         <div class="col-md-3">
            <%= form_for @post_info do |f| %>

               <h3><%= @form_action_title %></h3> 
            
               <div align="right">
                  <h4> <%= f.submit "Spara"%> </h4>
               </div>
               <%= f.label :title, "Titel *" %>
               <%= f.text_field :title, autofocus: true %><br>
               <br>
               <%= f.label :publisher, "Utgivare *" %>
               <%= f.text_field :publisher %><br>
               <br>
               <%= f.label :operation_id, "Åtgärd *" %> 
               <%= collection_select(:post_info, :operation_id, 
                        Operation.all.order("operation_type"), 
                        :id, :type_and_desc, :prompt => "Välj") %>
               <br><br>
               <%= f.label :issn, "ISSN" %>
               <%= f.text_field :issn %><br>
               <br>
					<%= f.label :comment, "Anmärkning" %>
					<%= f.text_area :comment, size: "50x10" %><br>
					<br>
				<% end %>
         </div>
         <div class="col-md-4"></div>
      </div>
   </div>
</body>
</html>
