

<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
			<th>Titel 			</th>
			<th>Utgivare 		</th>
			<th>Åtgärd 			</th>
			<!-- <th>Anmärkning 		</th>  -->
			<th>ISSN 			</th>
			<th>Skapad av 		</th>
			<th>Ändrad av 		</th>
			<th>Senast updaterad 	</th>
	</tr>
	</thead>

	<% @post_infos.each do |p| %>
		<tr>
			<td>	<%= link_to p.title, post_info_path(p) %> 	</td>
			<td>	<%= p.publisher %> 	</td>
			<td>	<%=  op_exists(p) %> 					</td>
			<!-- <td>	< %= p.comment %> 		</td> -->
	 		<td>	<%= p.issn %>				</td>
			<td>	<%= p.created_by %> 		</td>
			<td>	<%= p.updated_by %> 		</td>
			<td>	<%= p.updated_at.to_date %> 	</td>
		</tr>
	<% end %>
</table>
	