

<br>

<h2> Titel:  <%= @post_info.title %> </h2>
	<b> Åtgärd: 			</b><%  if Operation.find_by(id: @post_info.operation_id)   %>
					<%=	Operation.find_by(id: @post_info.operation_id).operation_type %> 
					<%  else %>
					<%=	"Okänd" %>
					<% end %>
 <br>
	<b> Utgivare:  		</b><%= @post_info.publisher %> <br>
	<b> ISSN:  				</b><%= @post_info.issn %> <br>
	
	<b>	Skapad av: 		</b><%= @post_info.created_by %> <br>
	<b>	Skapad:   		</b><%= @post_info.created_at.to_date %>  
	<br>
	<b>	Kommentar:  	</b><%= @post_info.comment %><br>
	<b>	Updaterad av: </b><%= @post_info.updated_by %> <br>
	<b>	Updaterad: 		</b><%= @post_info.updated_at.to_date %> <br>
		
	
	
	<br>
	<%= link_to "Redigera", edit_post_info_path %>
	<%= link_to "Radera", post_info_path(@post_info), 
			method: :delete, data: { confirm: "Är du säker?"} %>
	<br>
