<!DOCTYPE html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
  <head>
    <title>Foga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
        media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
        'data-turbolinks-track': 'reload' %>
  </head>

  <body>



	<nav class="navbar navbar-default">	
		<div class="container"> <br>
			<div class="navbar-header">
				<%= link_to "SÖK", post_infos_search_path %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<!-- if using bootstrap then envelop each link thing in a <li> tab.
					Can also have if then conditions. E.g. if logged in as admin
					show new/edit operations link. Look into that! -->
				<%= link_to "SENASTE POSTER", post_infos_latest_path %>	<!-- , class: "navbar-brand"  
				 root_path	 -->
				<%= link_to "NY POST", new_post_info_path %>
				<%= link_to "ÅTGÄRDER", operations_path %>
			</ul>
		</div>
	</nav>

    <%= yield %>
    <!-- Everything above this yield tag will be common to every view page in our application. -->
  
  </body>
</html>
