<!DOCTYPE html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
  <head>
    <title>Foga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
        media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <nav class="navbar navbar-default "> 
    <div class="container-fluid"> 
      <% if @current_user %> 

        <!-- Admin functionality only. -->
        <% if @current_user && @current_user.is_admin %>
          <div class="row">
            <div class="col-md-4">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="<%=new_operation_path %>">  NY ÅTGÄRD </a> </li>
              </ul>
            </div>

            <div class="col-md-4">
              <!--ul class="nav navbar-nav navbar-centered">         
                  <li><a href="<%=help_infos_path %>">REDIGERA HJÄLP</a> </li>
              </ul -->
            </div>

            <div class="col-md-4">
              <ul class="nav navbar-nav navbar-centered">
                  <li><a href="<%=allusers_path %>">  ANVÄNDARE </a> </li>
                  <li><a href="<%=signup_path %>">  NY ANVÄNDARE </a> </li>
              </ul>
            </div>  
          </div>
        <% end %>

        <!-- All users. -->
        <div class="row">
          <div class="col-md-4">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="<%=new_post_info_path %>"> NY POST </a> </li>
              <li><a href="<%=operations_path %>"> ÅTGÄRDER </a> </li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="nav navbar-nav navbar-centered">
              <li><a href="<%=post_infos_search_path %>">SÖK</a> </li>
              <li><a href="<%=post_infos_latest_path %>">SENASTE POSTER</a> </li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="nav navbar-nav navbar-centered">
              <li><a>INLOGGAD SOM: 
                <b><%= @current_user.xname %> </b> </a> </li>        
              <li><a href="<%=logout_path %>">  LOGGA UT </a> </li>
            </ul>
          </div>
        </div>
      <% end %>

		</div>
	</nav>

    <%= yield %>
    <!-- Everything above this yield tag will be common to every view page in our application. -->
  
  </body>
</html>
