<!DOCTYPE html>
<html>
  <head>
    <title>Cleanfoga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- Everything above this yield tag will be commen to every view page in our application. -->

	<nav class="navbar navbar-default">	
		<div class="container">
			<div class="navbar-header">
				<%= link_to "SÖK", searches_path %>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<!-- if using bootstrap then envelop each link thing in a <li> tab.
					Can also have if then conditions. E.g. if logged in as admin
					show new/edit operations link. Look into that! -->
				<%= link_to "SENASTE POSTER", root_path %>	<!-- , class: "navbar-brand"  -->
				<%= link_to "NY POST", new_post_info_path %>
				<%= link_to "ÅTGÄRDER", operations_path %>
			</ul>
		</div>
	</nav>

    <%= yield %>
  </body>
</html>
