<!DOCTYPE html>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
  <head>
    <title>Foga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
        media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
				<!-- when using <li> tab can have if then conditions. 
          E.g. if logged in as admin show new/edit operations link. Look into that! -->

  <nav class="navbar navbar-default "> 
    <div class="container-fluid"> 
      <ul class="nav navbar-nav navbar-left">
        <li><a href="<%=post_infos_search_path %>">SÖK</a> </li>
        <li><a href="<%=post_infos_latest_path %>">SENASTE POSTER</a> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%=new_post_info_path %>"> NY POST </a> </li>
        <li><a href="<%=operations_path %>"> ÅTGÄRDER </a> </li>
				<li><a href="<%=new_operation_path %>">  NY ÅTGÄRD </a> </li>
			</ul>
		</div>
	</nav>

    <%= yield %>
    <!-- Everything above this yield tag will be common to every view page in our application. -->
  
  </body>
</html>
